################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cmake
/out/build/x64-Debug
/CMakeSettings.json
/debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
